<div class="card-container" (click)="toggleCard()">
  <!-- Primera carta: "Feliz Cumpleaños" -->
  <div class="card" *ngIf="!showVoucher" [ngClass]="{'flipped': isFlipped}">
    <div class="front">
      🎁
    </div>
    <div class="back">
      <h1>¡Feliz Cumpleaños Preciosa!</h1>
    </div>
  </div>

  <!-- Segunda carta: "Te amo muchísimo" -->
  <div class="card" *ngIf="showVoucher" [ngClass]="{'flipped': isFlipped}">
    <div class="front">
      🎁
    </div>
    <div class="back">
      <h1>Te amo muchísimo ❤️</h1>
    </div>
  </div>
</div>
